

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* AkiraOmi */


/* 検索結果の列の高さを整える */
.row-eq-height{
    display : flex;
    flex-wrap : wrap;
}

/* 薄い灰色の横線を加える */
p.box{
    border-bottom: 1px dotted gray;
}














